main .home-logo {
  font-size: 150px;
  margin-top: 80px;
  margin-left: 50px;
  color: red;
}

main .home-info {
  display: flex;
  justify-content: end;
  margin-right: 65px;
  margin-bottom: 75px;
  font-size: 20px;
}
