.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.logo {
  font-family: "Montserrat", sans-serif;
}
.main-theme {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  font-weight: lighter;
}

.index-button {
  border: none;
  background-color: transparent;
  font-weight: lighter;
  text-decoration: overline;
}

.button-transparent {
  border-style: none;
  background-color: transparent;
}

.index-button:hover {
  text-decoration: overline;
  font-weight: normal;
}

.italicize {
  font-style: italic;
}
.lighter-text {
  font-weight: lighter;
}

.textbox {
  margin-top: 80px;
  border-radius: 24px;
  padding: 7%;
  background-color: hsla(0, 0%, 5%, 0.6);
  color: white;
}

.red-text {
  color: red;
}

.white-text {
  color: white;
}

img {
  max-width: 350px;
  border-radius: 24px;
}

.pd-t {
  padding-top: 37.5px;
}

.pd {
  padding: 175px 175px;
}

.margin {
  margin-bottom: 75px;
}
.home-logo {
  font-size: 150px;
  margin-top: 80px;
  margin-left: 50px;
}
.home-info {
  display: flex;
  justify-content: end;
  margin-right: 65px;

  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .index .container {
    align-items: center;
    margin: 0;
    display: flex;
  }
  .home-logo {
    font-size: 45px;
  }
  .home-info {
    font-size: 12px;
  }

  .pd {
    padding: 75px 75px;
  }
}
